<div class="gallery-item">
   
    <a href="{{ post.url | relative_url }}" data-date="{{ post.date | date: "%m-%d"  }}">
        <div class="item-text-container">
            <p class="item-meta">
                {{ post.client }}
            </p>
            <h4 class="item-title"> {{ post.title | escape }} </h4>
            {% if post.description %}
            <p class="item-description">{{ post.description }}</p>
            {% endif %}
            {% if post.skills %}
            <p class="item-meta-2">{{ post.skills }}</p>
            {% endif %}

            
            {% if post.coverpic %}
            </div>
            <div class="item-image">
                <img src="{{ post.coverpic| relative_url }}" alt="" />
            </div>

            {% endif %}
</a>
</div>

