<div class="item" data-tags="{{ post.tags | join: " " }}">
    <a class="item-inner" href="{{ post.url | relative_url }}" data-date="{{ post.date | date: "%m-%d"  }}">
        <div class="item-title"> {{ post.title | escape }} </div>
           {% if post.description %}
        <div class="item-description">{{ post.description }}</div>
        {% endif %}
        <div class="item-meta">
            {{ post.date | date: "%B %-d, %Y" }}

        </div>
        {% if post.coverpic %}
        <div class="item-image">
            <img src="{{ post.coverpic| relative_url }}" alt="" />
        </div>
        {% endif %}
    </a>
    
</div>