<p>
<button class="button button-inverse button-circle button-borderless"><i class="fa fa-flash"></i></button>
Welcome!
<br>
    <br>
I am a senior <strong>Psychology</strong> major at <a href="http://www.zju.edu.cn/english/">Zhejiang University</a>
<br>
    <br>
currently studying <strong>Digital Media Technology</strong>
    <br>
    <br>
    Seeking to create user interfaces that are intelligent, informative & fun
    <br>
    <table>
        <tr>
        <td>
            <a href="mailto:zeyapeng@outlook.com" class="button button-caution button-border button-circle"><i class="fa fa-envelope-open-o"></i></a> zeyapeng (a) outlook.com
        </td>

        </tr>
        <tr>
            <td>
                <a href="https://github.com/zeyap" class="button button-caution button-border button-circle"><i class="fa fa-github-alt"></i></a> Projects on GitHub
            </td>
</tr>
        <tr>
            <td>
                <a href="/assets/files/resume.pdf" class="button button-caution button-tiny button-pill">Resume</a>
            </td>
</tr>
</table>
</p>