<div class="post-list-item" data-tags="{{ post.tags | join: " " }}">
    
        <a href="{{ post.url | relative_url }}" data-date="{{ post.date | date: "%m-%d"  }}">
            <h4 class="item-title">{{ post.title | escape }}</h4></a>

        {% if post.description %}
        <p class="item-description">{{ post.description }}</p>
        {% endif %}
        {% if post.publication %}
        <p class="item-description"><B><I><button class="button button-inverse button-circle button-borderless"><i class="fa fa-{{ post.icon }}"></i></button>{{ post.publication }}</I></B></p>
        {% endif %}
        <div class="item-meta">
            {{ post.date | date: "%B %-d, %Y" }}
        </div>
</div>