<div class="timeline">
    <div class="timeline-inner">
        <li class="timeline-title">Education</li>
        <div class="timeline-children">
            <table>
                <tr><td><p>2013-</p></td><td><p>Zhejiang University Psychology B.S.</p></td></tr>
                </table>
                    
</div>

        <li class="timeline-title">Publication</li>
        <div class="timeline-children">
            <table>
                <tr><td><p>2018</p></td><td><p><a href="/cubicles/">Cubicle</a></p></td></tr>
                <tr><td><p>2017</p></td><td><p><a href="/gestures/">User-Defined Gestures for Gestural Interaction</a></p></td></tr>
                <tr><td><p>2017</p></td><td><p><a href="/safety-card/">Comprehension of Safety Briefing Card</a></p></td></tr>
                </table>
        </div>
        <li class="timeline-title">Experience</li>
        <div class="timeline-children">
            <a href="/assets/files/resume.pdf" class="button button-pill button-tiny">Resume</a>
        </div>
    </div>
        
    </div>