@charset "utf-8";

$font-size: 18px;

// Dimensions
$content-width: 800px;//680px;
$spacing-unit: 32px;

// Colors
$main-color: #be3c7c;
$title-color: #fff;
$content-color: #1578a4;
$background-color: #ebebeb;
$border-color: #f0f0f0;
$inline-code-color: #d32f2f;
$inline-code-background: #fff6f6;
$block-code-background: #f2f2fa;
$mark-background: rgba(yellow, 0.35);
$gallery-block-color: #fff;

@import "kagami/scut";
@import "kagami/reset";
@import "kagami/utility";
@import "kagami/typeface";
@import "kagami/layout";
@import "kagami/typography";
