@charset "utf-8";

$font-size: 18px;

// Dimensions
$content-width: 1300px;//680px;
$gallery-width: 1300px;
$spacing-unit: 32px;

// Colors
$main-color: #be3c7c;
$title-color: #fffff;
$content-color: #1b77a1;
$background-color: #e0e0e0;
$background-color-article: #f7f7f7;
$background-color-float: #fff;
$border-color: #b0b0b0;
$inline-code-color: #d32f2f;
$inline-code-background: #fff6f6;
$block-code-background: #f2f2fa;
$mark-background: rgba(yellow, 0.35);
$gallery-block-color: #fff;

@import "kagami/scut";
@import "kagami/reset";
@import "kagami/utility";
@import "kagami/typeface";
@import "kagami/layout";
@import "kagami/typography";
