@charset "utf-8";

$font-size: 18px;

// Dimensions
$content-width: 1200px;//680px;
$gallery-width: 1200px;

// Colors
$main-color: #83aec4;
$title-color: $main-color;
$content-color: #606060;//#1b77a1;
$background-color:#fff;
$background-color-article: #fff; //#f5f5f5;
$light-grey: #d3d3d3;
$background-color-float: #f5f5f5; //#fff;
$border-color: #b0b0b0;
$inline-code-color: #d32f2f;
$inline-code-background: #fff6f6;
$block-code-background: #f2f2fa;
$mark-background: rgba(yellow, 0.35);
$gallery-block-color: $background-color-article;

@import "kagami/scut";
@import "kagami/reset";
@import "kagami/utility";
@import "kagami/typeface";
@import "kagami/layout";
@import "kagami/typography";
