$spacing-unit: 0.005 * $content-width;
$content-padding: 0.02* $content-width;
$post-margin-width: 4 * $spacing-unit;
$post-header-spacing: 2 * $spacing-unit;
$post-footer-spacing: 3 * $spacing-unit;

html {

}

body {
  height:100%;
  width: 100%;
  overflow:auto;
}

img{
    vertical-align:central;
}

.site-title{
    float:left;
    padding-left: $content-padding;
    padding-bottom: $content-padding;
    width:100%;
}

.side-nav{
  float: left;
  padding: $content-padding;
  display:inline-block;
  border-top:1px solid $light-grey;
}

.side-filter-line-above{
    border-top:1px solid $light-grey;
    margin-top:$content-padding;
    padding-top:$content-padding;
}

.side-filter-children{
    padding-left:1em;
}

.meta-banner{
    float: left;
   padding: $content-padding;
}

.meta-banner-title{
    padding-top:1.0em;
}

.timeline{
    border-left:2px solid $light-grey;
}

.timeline-children{
    padding-left:1.5em;
    td{
        padding-right:1em;
    }
    
}
.timeline-title{
    margin-left:-0.2em;
    padding-left:0em;
    padding-top:1.0em;
    list-style:circle;
}

.wrapper {
  padding: $content-padding;
  //margin: 0 auto;//margin:0 auto居中要配合固定Width才生效
}

table{
    display:inline-block;
}
tr{
    vertical-align:top;
}

$vspacing: $spacing-unit;
$hspacing: $spacing-unit / 2;

h1, h2, h3, h4, h5, h6 {
    //text-align:center;
    padding-top:2.0*$vspacing;
    margin-bottom:1.5*$vspacing;
}

article {
    
  background-color: $background-color-article;
  position: relative;
  display: inline-block;
  width: 100%;
  line-height:0.5;

  h1, h2, h3, h4, h5, h6, p, ul, ol, pre, hr, blockquote {
      
    display: block;
    margin: $vspacing auto;
  }


  li > ul, li > ol {
    text-align:left;
    margin-top: 0;
    margin-bottom: 0;
  }

  .highlight {
    position: relative;

    code {
      display: block;
    }
  }

  blockquote {
    border-left: 0.3em solid $main-color;
	margin-left: 0;
	margin-right: 0;
	padding: 0.2em 1.5em;
  }

  .aside, .sidenote, .side-note {
    color: $main-color;
    background-color: $background-color-float;
    position: relative;
    display: inline-block;

    width: 300px;
    float: right;
    margin-left: $vspacing;
    margin-right: -$post-margin-width;
    padding: 30px;
  }

  h1, h2, h3, h4, h5, h6 { // reduce spacing after headings
    & + *,
    & + .aside + *,
    & + .sidenote + * { margin-top: -0.5 * $hspacing; }
  }
	
}

.page-link {
  display: block;
  padding: 0.5em;
}

.site-footer {
  padding-bottom: $spacing-unit;
  padding-top: 2*$spacing-unit;
}

.site-footer .wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  
}

.credits {
    float:left;
  white-space: nowrap;
  border-top:1px solid $light-grey;
}

.footer-email {
  float:left;
  white-space: nowrap;
  
}

//gallery
.gallery-col{
    width:50%;
}
.gallery-item{
    margin: 5% 5% 0 0;
    border: 1px solid $light-grey;
    
}
.gallery-item:hover{
    box-shadow: 5px 5px 20px $light-grey;
}

.item-title{
    margin-bottom: $spacing-unit;
}
.item-description {
  
}

.item-meta {
    margin-bottom: $spacing-unit;
    width:100%;
    float:right;
}

.item-meta-2{
    margin-top: $spacing-unit;
}

.item-text-container{
    padding: 3% 3% 3% 3%;
}

.item-image{
    width:100%;
    height:100%;
}

.container-fluid{
    background-color: antiquewhite;
    height:130px;
    padding-top:20px;
    border-radius: 10px;
    .fa{
        text-align:right;
        padding-top:20px;
        font-size:30px;
    }
}

.container{
    width:100%;
    
    .row{
        display:flex;
        margin-bottom:2em;
    }
    .col{
        width:50%;
        float:left;
        padding-right:2em;
        display:inline-block;
    }
}

.button-group, .button{
    margin-top:2em;
    margin-bottom:2em;
}

wbr{
    
}