$content-padding: $spacing-unit / 2;
$post-margin-width: 2 * $spacing-unit;
$post-header-spacing: 3.5 * $spacing-unit;
$post-footer-spacing: 3 * $spacing-unit;

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  width: 100%;
  overflow: hidden; // fixes margin-collapsing of body
}

.wrapper {
    
  width: 100%;
  max-width: $content-width;
  margin: 0 auto;
  padding-left: $content-padding;
  padding-right: $content-padding;
  @media screen and (min-width: $content-width) {
    padding-left: $content-padding + $post-margin-width;
    padding-right: $content-padding + $post-margin-width;
  }

}

.wrapper-gallery {
  width: 100%;
  max-width: $gallery-width;
  margin: 0 auto;
  padding-left: $content-padding;
  padding-right: $content-padding;
  @media screen and (min-width: $content-width) {
    padding-left: $content-padding + $post-margin-width;
    padding-right: $content-padding + $post-margin-width;
  }
}


article {

  background-color: $background-color-article;
  position: relative;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  height: 100%;
  display: inline-block;
  width: 100%;
  margin: 0 0 30px 0; //t/r/b/l
  padding:50px;

  $vspacing: $spacing-unit;
  $hspacing: $spacing-unit / 2;

  h1, h2, h3, h4, h5, h6, p, ul, ol, pre, hr, blockquote, img:only-child {

    display: block;
    margin: $vspacing auto;
  }

  img{
      background-color: #ffffff;
      //display: inline-block;
      padding:10px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }


  li > ul, li > ol {
    margin-top: 0;
    margin-bottom: 0;
  }


  .highlight {
    position: relative;
    overflow: hidden;

    code {
      display: block;
      overflow-x: auto;
    }

    @include exdent-horizontally($hspacing);
    @include exdent-vertically(0.5 * $vspacing);

    @media screen and (min-width: $content-width) {
      @include exdent-horizontally(2 * $hspacing);
    }
  }

  blockquote {
      
    margin-left: -$post-margin-width;
    margin-right: $vspacing;
    @media screen and (min-width: $content-width) {
      margin-left: -$post-margin-width;
      margin-right: $vspacing;//$spacing-unit;
    

      background-color: $background-color-float;
        position: relative;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

        float: right;
        //margin-left: -$post-margin-width;
        //margin-right: $vspacing;
        padding: 30px;

    }
    cite {
      display: block;
      text-align: right;
      margin-top: -$spacing-unit;
      white-space: nowrap;
    }

  }

  .aside, .sidenote, .side-note {
    color: $main-color;
    background-color: $background-color-float;
    position: relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;

    width: 300px;
    float: right;
    margin-left: $vspacing;
    margin-right: -$post-margin-width;
    padding: 30px;
  }

  @media screen and (max-width: $content-width) {
    h2, h3, h4, h5, h6 {
      &::before { color: rgba(0,0,0,0); }
    }
    .aside, .sidenote, .side-note {
      display: none;
    }
  }

  @media screen and (min-width: $content-width) {
    .hero-unit {
      margin-left: -$post-margin-width;
      margin-right: -$post-margin-width;
    }
  }

  h1, h2, h3, h4, h5, h6 { // reduce spacing after headings
    & + *,
    & + .aside + *,
    & + .sidenote + * { margin-top: -0.5 * $hspacing; }
  }

  table,th,td
  {
  //padding:15px;
  //distance between table units
  border-collapse:separate;
  border-spacing:20px 10px;//hori/vert
  align-self:center;
  vertical-align:top;
  table-layout: fixed;
  line-height: 1.2;
  margin-left: $post-margin-width;
  margin-right: $post-margin-width;
  }
}

.post-header {
  margin-top: $post-header-spacing;
  margin-bottom: $post-header-spacing;
}

.post-cover {
  margin-top: $spacing-unit;
  margin-bottom: -$spacing-unit;
  //margin-top: 30px;
  //box-shadow: rgba(0, 0, 0, 0.4) 10px 15px inset;
}

.post-footer, #disqus_thread {
  margin-top: $post-footer-spacing;
  margin-bottom: $post-footer-spacing;
}

.site-nav {
  display: flex;
  flex-flow: row wrap;
  align-items: top;
  justify-content: center;
  margin-left: -$post-margin-width;
  margin-right: -$post-margin-width;
}

@media screen and (min-width: $content-width) {
  .site-nav {
    height: 0;
    justify-content: flex-end;
  }
}

.page-link {
  display: block;
  padding: 0.5em;
}

.site-footer {
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
}

.site-footer .wrapper {
  display: flex;
  width: 100%;
  flex-flow: row-reverse wrap;
  justify-content: space-between;
  align-items: center;
}

.social-links {
  text-align: center;
  margin: 1em (-$content-padding);
  padding: 0 0.3em;
  white-space: nowrap;
}

.credits {
  margin-left: -0.256em;
  white-space: nowrap;
}

.footer-email {
  margin-left: -0.256em;
  white-space: nowrap;
}

.post-list-item {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
}

.post-description {
  margin-top: 10px;
  margin-bottom: 10px;
}

.cover-meta {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 4px 8px;
  p { margin: 0; padding: 0; }
}

//gallery
.gallery div.item {
  background-color: $gallery-block-color;
  position: relative;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  max-width: 250px;
  height: 100%;
  display: inline-block;
  width: 100%;
  margin: 0 1% 30px 1%; //t/r/b/l
}
.gallery div.item .item-inner {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
}
.gallery div.item .item-inner:hover {
  opacity: 0.7;
}
.gallery div.item .item-image {
  display: block;
  max-width: 100%;
  //padding-bottom: 1em;
}
.gallery div.item .item-title {

}
.gallery div.item .item-meta {
  text-align: left;
  position: relative;
  bottom: 0;
  right: 0;
  margin: 0px 0px 20px;
  p { margin: 0; padding: 0; }
}
.gallery div.item .item-description {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 700px) {
  .gallery div.item {
    width: 280px;
  }
}
@media (max-width: 980px) and (min-width: 770px) {
  .item-name {
    font-size: 0.8em;
  }
}
