[lang^="en"]      { line-height: 1.3; @include font-serif; }
@import url('https://fonts.googleapis.com/css?family=Supermercado+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu+Condensed');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu|Ubuntu+Condensed');
@import url('https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Mono');

html{
    font-family: 'Roboto Condensed', sans-serif;
}
body {
  color: $content-color;
  background-color: $background-color;
  font-weight: 300;
  font-kerning: normal;
  font-size: 1.4em;
}

a, a:hover, a:visited {
    text-decoration:inherit;
}

img { max-width: 100%; }

.header{
    
}
h1, h2, h3, h4, h5, h6, p {
  display: block;
}

.site-title{
    text-transform:uppercase;
    margin-left: 3px;
}

h1 { font-family: 'Ubuntu Condensed', cursive; color: $main-color; font-size: 2.0em; }
h2 { font-family: 'Ubuntu Condensed', cursive; color: $main-color; font-size: 2.0em; }//color: lighten($title-color,0.2); font-weight: bolder;
h3 { font-family: 'Ubuntu Condensed', sans-serif; color: $main-color; text-transform:lowercase; font-size: 1.2em;}
h4 { font-family: 'Roboto Condensed', sans-serif; text-transform:capitalize; font-weight: bolder; font-size:1.0em;}
h5 { font-family: 'Roboto Condensed', sans-serif; text-transform:capitalize; font-size:0.9em }
p  { font-family: 'Roboto Condensed', sans-serif; font-size:0.8em}
highlight
{
    //background-color:#fff
}

article {
    font-family: 'Roboto Condensed', sans-serif;
  h2, h3, h4, h5, h6 {
    &::before {
      display: inline-block;
      padding-top: font-size(1.5);
     padding-bottom: font-size(1.0);
      
    }
  }

  p {
    hanging-punctuation: allow-end; // no browser supports this rule

  }

  table,th,td{
     text-align:left;
  }
  .bulletpoint{
      color:$main-color;
  }

  .aside, .sidenote, .side-note {
    font-size: 0.9 em;
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }

  a, a:hover, a:visited {
    border-bottom: 1px dotted currentColor;
    color:$content-color;
  }

  img.half-size, img.retina2x {
    // Supported by JavaScript
  }

  ul,
  ol { padding-left: 2.0em; }
  ul { list-style-type: disc; }
  ul ul { list-style-type: circle; }
  ul ul ul { list-style-type: square;  }
  ol { list-style-type: decimal; }

  li{
      font-size:0.8em;
  }

  blockquote {

  }

  code {
    display: inline-block;
    padding: 0 0.3em;
    margin: 0 -0.05em;
    font-size: 1.0 em;
    @include font-monospace;
    color: $inline-code-color;
    background: $inline-code-background;
    border-radius: 3px;
  }

  pre {
    color: lighten($content-color, 20%);
    background: $block-code-background;
    code {
      margin: 0;
      padding: 0;
      color: inherit;
      background: none;
      line-height: 1.6;
    }
  }

  mark {
    color: inherit;
    background: $mark-background;
  }

  hr {
    border: none;
    border-bottom: 1px solid $border-color;
    width: 30%;
  }
}

.credits {
  color: $light-grey;
  font-size: 0.68em;
}

.footer-email {
  color: lighten($main-color, 20%);
  font-size: 0.90em;
}

.gallery-item{

}
.item-title{
    color: $main-color;
}
.item-description {
  color: lighten($main-color, 20%);
  
}

.item-meta {
  text-transform:uppercase;
  color:$light-grey;
  font-size: 0.8em;
}
.item-meta-2{
  text-transform:capitalize;
  color:$main-color;
  font-size: 0.7em;
}

.side-filter-hover:hover{
    color:#fff;
    background: #22c1c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdbb2d, #22c1c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.side-filter-children{
    color:lighten($main-color,20%);
}

.timeline-children{
    a{
        color: $main-color;
    }
    
}

#higher-banner{
    
}