---
layout: blank
---

<body>
    <h3 class="site-title"><a class="fas fa-bars"></a> ZEYA PENG</h3>
    <div>
        <table>
            <tr>
                <td id="navbar">
                    <div class="side-nav">
                        <a href="/"><h3 class="side-filter side-filter-hover" id="all">portfolio</h3></a>
                            <h5 class="side-filter side-filter-hover side-filter-children" id="development">development</h5>
                            <h5 class="side-filter side-filter-hover side-filter-children" id="research">research</h5>
                            <h5 class="side-filter side-filter-hover side-filter-children" id="design">design</h5>
                            <a href="/posts"><h3 class="side-filter side-filter-line-above">blog</h3></a>
                            <a href="/about"><h3 class="side-filter side-filter-line-above">about</h3></a>
</div>
                    
                </td>
                <td>
                <td width="20%">
                    <div class="meta-banner">
                    {% if page.meta-banner %}
                    {% include meta-banner.html %}
                    {% endif %}

                    {% if page.timeline %}
                    {% include timeline.html %}
                    {% endif %}
                    </div>
                </td>
                <td width="60%">
                    <div class="wrapper">
                        <h1 class="header">{{ page.title | escape }}</h1>
                        {{ content }}
                        {% include footer.html %}
                    </div>
                </td>
                <td width="20%"></td>

                </td>
            </tr>
        </table>
        <script type="text/javascript" src="/assets/js/side-nav.js"></script>
    </div>




</body>